extends layout

block content

    h3.myheadh3faq Disclaimer
    .clear-box
    .drop-coin
        .card-body
            | Aidropter is a free cryptocurrency community server. Aidropter is not responsible for any actions taken by your own will and leading to errors or irreversible consequences. Information provided here is for the reference use only 
            br
            br
            | Any kind of an error or consequences arising from the use of the information provided on this service is at your own risk.
            br
            br
            | Be aware of frauds.