extends layout

block content

    h3.myheadh3faq Exchanges Coin
    .clear-box
    .drop-coin
        .drop-coin-exchanges
            .drop-coin-f
                a(href="https://www.bibox.com/login/register?id=11348329&lang=en")
                    img.img-thumbnail(src='/imgicon/bibox.png', alt='Bibox')
            
            .drop-coin-f
                a(href="https://www.binance.com/?ref=29166873")        
                    img.img-thumbnail(src='/imgicon/binance.png', alt='Binance')

            .drop-coin-f
                a(href="https://www.bitmex.com/register/Ya6hNp")        
                    img.img-thumbnail(src='/imgicon/bitmex.png', alt='Bitmex')

            .drop-coin-f
                a(href="https://www.coinexchange.io/?r=6823d41f")
                    img.img-thumbnail(src='/imgicon/coinexchange.png', alt='Coinexchange')

            .drop-coin-f
                a(href="https://www.cryptopia.co.nz/Register?referrer=chellamit")        
                    img.img-thumbnail(src='/imgicon/cryptopia.png', alt='Cryptopia')

            .clear-box
            .drop-coin-f
                a(href="https://hitbtc.com/?ref_id=5aebe8aa989a0")        
                    img.img-thumbnail(src='/imgicon/hitbtc.png', alt='Hitbtc')

            .drop-coin-f
                a(href="https://www.huobi.br.com/en-us/topic/invited/?invite_code=zmu93")        
                    img.img-thumbnail(src='/imgicon/huobi.png', alt='Huobi')

            .drop-coin-f
                a(href="https://accounts.qryptos.com/sign-up?affiliate=TmGvswHa455199")        
                    img.img-thumbnail(src='/imgicon/qryptos.png', alt='Qryptos')

            .drop-coin-f
                a(href="https://upcoin.com/?ID=EGDvHwPG")        
                    img.img-thumbnail(src='/imgicon/upcoin.png', alt='Upcoin')

            .drop-coin-f
                a(href="https://yobit.io/?bonus=BUkgt")        
                    img.img-thumbnail(src='/imgicon/yobit.png', alt='Yobit')

            .clear-box

