extends layout

block content
    h3.myheadh3faq Terms & Conditions
    .clear-box
    .drop-coin
        .drop-coin-terms
            h3 1. Introduction
            .card-body
                | In the Terms & Conditions section the usage of such words as “we”, “us”, “our” or any analogy to them means the earncoinfree.com website and its representatives. Also, the use of such words as “yours”, “you” etc. means any user of this web service.
                br
                br
                | All terms and conditions of the earncoinfree.com website are declared in this document. Please, devote your time to read all the statements in this document carefully, because they are related to the process of work on our website. Moreover, these terms and conditions are to be applied to all users, regardless of whether the user has read the rules or not. By using earncoinfree.com you confirm that you have read all terms and conditions and you agree to accept and obey them.
            br
            h3 2. General information
            .card-body
                li
                    | The Terms and Conditions, which are written in this document, regulate your use of our website. If you have not understood any of them, then you may ask about it via our email: chellamit9x@gmail.com.
                br
                li
                    | If you do not agree with these Terms & Conditions, then you should refrain from using our web-platform.
                br
                li
                    | As it was mentioned before, if you use earncoinfree.com, it means that you admit being bound by all Terms and Conditions, which are listed here.
                br
                li
                    | Furthermore, the usage of our service means full understanding and acceptance of the fact that we provide the complimentary service for the cryptocurrency community.
                br
                li
                    | Using this website you understand and accept that tokens, which are distributed by ourselves, are apportioned in correspondence with our rules and procedures.
                br
                li
                    | On this site you acknowledge that we do not confer you any rights on tokens. Tokens, which are distributed by means of earncoinfree.com, are distributed freely with no any warrants or guarantees.
            br
            h3 3. Appropriateness
            .card-body
                li
                    | These Conditions and Terms are applicable to your usage and/or any service provided by it. To add,  all rules, which are applied to information given by the site, are to be applied to the data given by the user.
                br
                li
                    | Our users can get access to these Terms and Conditions at any time they want. In order to provide you with that data, we assure that you will be able to store it (Terms and Conditions) on a memory stick or any other data carriers.
            
            br
            h3 4. No advice in any form
            .card-body
                li
                    | You have to understand that all information presented on our website is given to you for informational purpose only. It should not be defined as an advice or a call to action. In order to clarify the situation as much as it is possible, we declare that the information provided on our website or any other information with relation to our website or the information in these terms and conditions or any other information with relation to our terms and conditions does not constitute an investment consultation or  a tax advice.
                br
                li
                    | The information is our property and we may change it without noticing you or other users.
            
            br
            h3 5. Acceptable use
            .card-body
                li
                    | Using our site you understand and agree that you are not to use it for any unlawful purposes (fraud, deceit etc.) and any purpose, which is not permitted by these terms and conditions. To make it as clear as it is possible, we declare that you are to use earncoinfree.com  only for the aims which are set forth in this document.
                br
                li
                    | Using our website, you understand and agree that you are not to take any actions to damage, disable, overload or deteriorate it. Also, you are not to interfere with any other party’s use and enjoyments of our website.

            br
            h3 6. Accessibility of earncoinfree.com
            .card-body
                li
                    | You understand and agree that our website and the information provided on our website are provided “as is” and “as available” without promises of any kind, either expressed or implicit, and to the maximum extent permitted by law, containing but not restricted to the warranties of merchantability, compatibility for a particular aim and non-infringement.
                br
                li
                    | We cannot guarantee that the website will always be  available, fully functional, safe from errors, accessible, unbroken or malware free. We will do everything we can to maintain a proper level of security and accessibility on the website.
                br
                li
                    | We do not warrant that the information or data, which was transferred via earncoinfree.com or was mentioned by you during the usage of it (was given on the forum, used in the forms etc.), will never be lost.
                br
                li
                    | We reserve the right to limit, terminate or suspend your access to our website in whole or in part at any time without a notice.
                br
                li
                    | We may remove you from the subscribers list  or freeze your account at our absolute and sole decision.

            br
            h3 7. Intellectual property rights
            .card-body
                li
                    | All information and the content, that is provided by you to us via email or any other form of e-communication (electronic communication), the intellectual property rights related to the site and the content which is represented there (inter alia the text, videos and logos) are the intellectual property of the earncoinfree.com website.
                br
                li
                    | When you use our website you are provided with a restricted, personal and non-exclusive license. This license covers the use of the website’s content, but it imposes certain limitations on you. First, you cannot translate or reconstruct the content, second, you cannot publish the content, third, you cannot create derivative works or use the content in whole or in part.
                br
                li
                    | Information from our website can be used for personal needs only. It is prohibited to resale data you received on our website or resources related to it.
            br
            h3 8. Trademarks
            .card-body
                li
                    | We own all rights, titles, and interests in and to each of the trademarks, distinguishing marks and logotypes, which are represented on our website or have relation to it.
                br
                li
                    | We maintain the rights, title and interest in and reserve the right to control the use of our trademarks, distinguishing marks and logotypes now existing or in time established, that are presented on our website or otherwise appear with relation to the use of our website.
                br
                li
                    | We may be provided with the logotypes, service marks and trademarks by other parties. Such items will be the property of the parties who gave it. These parties retain all the rights and interests to the given trademarks, logotypes and service marks, so they may withdraw them.
            br
            h3 9. Liability
            .card-body
                li
                    | We are not accountable for any  loss or damage arising from or in any way connected with your use or your disability to use our website or the information from it. This restriction of liability shall not apply in the case such damages are a consequence of a deliberate act or gross carelessness on the part of earncoinfree.com.
                br
                li
                    | In no event we shall be accountable for any detriment or loss arising from or in any way related to the use of electronic communication to the maximum extent permissible pursuant to applicable law. In no event we shall be responsible for any failure or delay in the delivery of electronic communication, any interception or manipulation of the electronic communication by third parties or computer programs used for electronic communication, any misdirected, altered, lost or damaged electronic communication or any other errors or omissions in any way connected with the use of electronic communication.
                br 
                li
                    | In case we are incapable of  limiting liability, as it is specified in  the last two paragraphs above, our liability should not be greater than one hundred euros. This restriction cannot be applied in case of our negligence.
            
            br
            h3 10. Force majeure
            .card-body
                li
                    | We are not responsible for any delay,malfunction, interruption or discrepancy with relation to the use of our website arising from or in connection with any occurrence beyond our reasonable control. For example, we are not responsible for floods, tornadoes and other natural disasters. Also we are not liable for wars, governmental restrictions, strikes, lockouts and other force majeures.
            
            br
            h3 11. Changes in Terms & Conditions
            .card-body
                li
                    | We are able to modify contents of these terms and conditions. We may do it from time to time and without any announcement. The last version of this document is available on our website in the special section.
                br
                li
                    | It is highly recommended to check this section from time to time to have the up-to-date information about the  Terms and Conditions.
            
            br
            h3 12. Complaints and questions
            .card-body
                li
                    | If you have any questions you may contact us via email: support@earncoinfree.com. Also, you may contact us to report about any bugs or to file a complaint. We will fix it as fast as it is possible.
            
            br
            h3 13. Third party links
            .card-body
                li
                    | We demonstrate the third party links such as Facebook, Telegram, Twitter on our website, which are not controlled by us. We are not responsible for any loss or damage arising from or in any way connected with these links. We cannot give any guarantees with regard to the third party links.


                