.row-coin {
    position: static;
    padding-bottom: 68px;
}

.drop-coin-main {
    box-shadow: 6px 6px 8px 6px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.drop-coin-main1 {
    margin-bottom: 6px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2), 0 2px 7px 0 rgba(0, 0, 0, 0.19);
}

.row-coin1 {
    float: left;
    width: 38%;
    margin-right: 2%;
}

.row-coin2 {
    float: left;
    margin-top: 18px;
    width: 15%;
    margin-right: 2%;
}

.row-coin3 {
    float: left;
    margin-top: 18px;
    width: 15%;
}

.row-coin4 {
    float: left;
    width: auto;
    margin-right: 66px;
    margin-left: 66px;

}
.row-coin-new {
    float: right;
    width: auto;
    height: 30px;
    margin-top: 0px;
}



.row-coin-logo1 {
    float: left;
    margin-right: 16px;
}
.row-coin-logo {
    width: 58px;
}
.row-coin-title1 {
    float: left;
}
.row-coin-title {
    color: #000;
    font-size: 23px;
    font-style: oblique;
}
.row-coin-tokens1-money1 {
    position: absolute;
    float: left;
    top: 39px;
}
.row-coin-tokens {
    color: rgb(41, 41, 41);
    font-size: 15px;
    font-style: initial;    
}
.row-coin-moneys {
    color: rgb(41, 41, 41);
    font-size: 15px;
    font-style: initial;       
}

.row-coin-rate {
    width: 18px;
}
.row-coin-tool {
    width: 18px;
}

.row-coin-tool-detail {
    width: 66px;
}
.row-coin-enddate {
    font-size: 16px;
}
.row-coin-views {
    font-size: 16px;
}

.drop-coin {
    width: 100%;
    height: auto;
    box-shadow: 6px 6px 8px 6px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.drop-coin-header {
    width: 100%;
    height: auto;

}

.drop-coin-info {
    width: 100%;
    height: auto;

}

.drop-coin-tut {
    width: 100%;
    height: auto;

}

.drop-coin-submit {
    width: 100%;
}

.drop-coin-submit-a {
    display: table;
    margin:36px auto;
    padding-bottom: 36px;
}

.drop-coin-header1 {
    display: table;
    margin:0 auto;
    padding-top: 10px;
    position: static;
    width: auto;
}

.drop-coin-header-logo1 {
    float: left;
    width: 100%;
    margin-right: 20px;

}
.drop-coin-header-title1 {
    float: left;
    width: auto;
}

.drop-coin-header-logo {
    width: 66px;
}

.drop-coin-left1  {
    float: left;
    margin-left: 86px;
}

.drop-coin-right1  {
    float: right;
    margin-right: 86px;
}

.drop-coin-info-content {
    margin-left: 26px;
}

.drop-coin-info-content-body {
    margin-left: 56px;
    margin-bottom: 20px;
}
.drop-tuts {
    height: 300px;
    background-color: #4cae4c;
}


.btn-success {
    box-shadow: 0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color: #5cb85c;
    margin-bottom: 100px;
}


.btn3d {
    transition: all .08s linear;
    position: relative;
    outline: medium none;
    border: 0px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;

}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;

}

.btn {
    
    display: table;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

.add-coin {
    margin-left: 36px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    font-style: italic;
}

.add-coin2 {
    margin-left: 16px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    font-style: italic;
}

.bg-light {
    background-color: #e5ffe5!important;
}


.add-coin-title {
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;
    margin-bottom: 3px;
}

.add-coin-title1 {
    display: table;
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 16px;
    font-style: italic;
}

.add-coin-form {
    display: table;
    margin: 0 auto;
}

.form-title {
    width: 266px;
    float: left;
    margin-right: 36px;
    margin-bottom: 16px;
}

.form-namelogo {
    width: 166px;
    float: left;
    margin-bottom: 16px;
}

.form-imgcoin {
    width: 166px;
    float: left;
    margin-bottom: 16px;
    margin-right: 56px;
}

.form-btnupload {
    width: 166px;
    float: left;
    margin-bottom: 16px;
    margin-right: 36px;
    margin-top: 26px;
}

.clear-box {
    clear: left;
}
.clear-box2 {
    clear: right;
}

.form-code {
    width: 86px;
    float: left;
    margin-right: 26px;    
    margin-bottom: 16px;
}

.form-tokens {
    width: 126px;
    float: left;
    margin-right: 56px;
    margin-bottom: 16px;
}

.form-moneys {
    width: 86px;
    float: left;
    margin-right: 56px;
    margin-bottom: 16px;
}

.form-rate {
    width: 86px;
    float: left;
    margin-right: 56px;
    margin-bottom: 16px;
}

.form-enddate {
    width: 86px;
    float: left;
    margin-bottom: 16px;    
}


.form-telegram {
    width: 86px;
    float: left;
    margin-right: 126px;
    margin-bottom: 6px;
}

.form-facebook {
    width: 86px;
    float: left;
    margin-right: 126px;
    margin-bottom: 16px;
}

.form-bitcointalk {
    width: 86px;
    float: left;
    margin-bottom: 16px;
}

.form-twitter {
    width: 86px;
    float: left;
    margin-right: 126px;
    margin-bottom: 6px;
}

.form-email {
    width: 86px;
    float: left;
    margin-right: 126px;
    margin-bottom: 16px;
}

.form-other {
    width: 86px;
    float: left;
    margin-bottom: 16px;
}

.form-infomation {
    margin-bottom: 16px;    
}

.form-tutorials {
    margin-bottom: 16px; 
}

.form-btn {
    display: table;
    margin: 0 auto;
}

.msg-error {
    color: rgb(255, 0, 0);
    font-style: oblique;
}
.msg-success {
    color: rgb(0, 224, 56);
    font-style: oblique;
}

.btnupload {
    background-color: rgb(202, 202, 202);
    
}

.form-namefile {
    width: 166px;
    float: left;
    margin-bottom: 16px;
    margin-right: 36px;
}

.imgnew {
    width: 56px;
}

.imgclick {
    width: 26px;
}

.my-pagination {
    display: table;
    margin: 0 auto;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
  }
  .pagination > li {
    display: inline;
  }
  .pagination > li > a,
  .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .pagination > li > a:hover,
  .pagination > li > span:hover,
  .pagination > li > a:focus,
  .pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
  }
  .pagination > .active > a,
  .pagination > .active > span,
  .pagination > .active > a:hover,
  .pagination > .active > span:hover,
  .pagination > .active > a:focus,
  .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
  }
  .pagination > .disabled > span,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > a,
  .pagination > .disabled > a:hover,
  .pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
  }
  .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
  }
  .pagination-lg > li:first-child > a,
  .pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .pagination-lg > li:last-child > a,
  .pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .pagination-sm > li > a,
  .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
  }
  .pagination-sm > li:first-child > a,
  .pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .pagination-sm > li:last-child > a,
  .pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }


.myBtnFaq {
    color: rgb(11, 9, 131);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.card-body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    
}

.imgFaq{
    width: 52px;
    float: left;
    margin-right: 16px;
}

.myHeadFaq {
    float: left;
    margin-bottom: 16px;
    margin-top: 26px;
    width: auto;
}

.myheadh3faq {
    float: left;
}

.img-thumbnail {
    width: 116px;
}

.drop-coin-f {
    float: left;
    margin: 26px 6px;
}

.drop-coin-exchanges {
    display: table;
    margin: 26px auto;
    width: auto;
    
}

.myFooter {
    display: table;
    margin: 26px auto;
    width: auto;
}

.myFooter-logo {
    float: left;
}

.myFooter-link {
    float: left;
    margin: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.myFooter-acong {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: table;
    margin: 0 auto;
}

.drop-coin-terms {
    padding: 16px;
}